* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 500px;
  padding: 1px;
  background-color: black;
  display: flex;
  gap: 1px;
}

/* JS divs */
.hoverDiv {
  background-color: white;
  transition: all 1s ease-out;
  flex: 1;
}

.hoverDiv:hover {
  background-color: black;
}